@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <MQTT_Client_Nav></MQTT_Client_Nav>
    </div>

    <div class="main">
        <h4>MQTT Client</h4>

        <b>@DateTime.Now</b>
        <p></p>

        <div class="content px-4">
            @Body
        </div>
    </div>

</div>
