@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <MQTT_Client_Nav></MQTT_Client_Nav>
    </div>

    <div class="main">
        <h2>MQTT MQTT_Client</h2>

        <div class="content px-4">
            @Body
        </div>
    </div>

</div>
