@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <MQTT_Client_Nav></MQTT_Client_Nav>
    </div>

    <div class="main">
        <h2>MQTT MQTT_Client</h2>

        <h4>Please select "Subscribe" or "Publish" on the sidebar to use this MQTT client.</h4>
    </div>

</div>
