@using Microsoft.AspNetCore.Components.Routing

<ul class="nav flex-column">
    <li class="nav-navbar-expand">
        <NavLink class="h3" href="/mqttpub">
            <span class="oi oi-data-transfer-upload" aria-hidden="true"></span> Publish
        </NavLink>
    </li>
    <li class="nav-justified">
        <NavLink class="h3" href="mqttsub">
            <span class="oi oi-media-play" aria-hidden="true"></span> Subscribe
        </NavLink>
    </li>
</ul>

@code {

}
