@using Microsoft.AspNetCore.Components.Routing

<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="MQTT_Client_Publish">
            <span class="oi oi-plus" aria-hidden="true"></span> Publish
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="MQTT_Client_Subscribe">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Subscribe
        </NavLink>
    </li>
</ul>

@code {

}
