@page "/mqttpub"

<b>@DateTime.Now</b>
<p></p>

<h1>MQTT Client Publish</h1>

<p></p>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}